@import '@/styles/variables.scss';

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: $color-dark;
  line-height: 1.2;
  font-size: 15px;
  font-weight: 400;
}
